@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-0 text-text-primary;
    user-select: none;
  }

  input, textarea, select {
    user-select: auto;
  }

  *:focus-visible {
    @apply outline-none ring-2 ring-brand-500 ring-offset-1;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #C7C6BF;
  border-radius: 9999px;
}
